body{
  background-color:bisque;
  color:black;
  font-family:Calibri, Arial, sans-serif;
  font-size:20px;
  margin:10% 20%;
}

.exp-header{
  text-align: center;
  text-transform:uppercase;
  border:1px solid black;
  background-color:lightgray;
  font-size:20px;   
}

ul{
  font-size:15px;
}

aside{
  width:30%;
  padding-left:15px;
  margin-left: 15px;
  padding-top:3px;
  float: right;
}

.footer{
  float: right;
  font-size:20px;
  text-transform:capitalize;
}
